# external
external/
STM32F4-Discovery_FW_V1.1.0/
gcc-arm-none-eabi-4_8-2013q4/

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.bin
*.elf
*.hex
